
.SubimitButton {
  color: var(--white);
  border: 1px solid var(--white);
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: color .3s;
  margin-top: -24px;
  margin-bottom: 16px;
  background: #000;
}
.SubimitButton:hover,
.SubimitButton:focus {
  color: #E83368;
  border: 1px solid #E83368;
}

@media (max-width: 800px) {
  a.SubimitButton {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 0;
    border: 0;
    text-align: center;
    margin-bottom: 0;
  }
}
